header{
   background: url(../images/headerimg.jpg) no-repeat bottom center;
   background-size: cover;
   height: 65vh;
   width: 100vw;
   .header__top{
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      &-logo{
         img{
            margin-top: 20px;
            width: 100px;
            height: 62px;
         }
      }
      &-menu{
         margin-top: 20px;
         ul{
            display: flex;
            li{
               margin-left: 24px;
               border-top: 1px solid $white-color;
               margin-right: 20px;
               a{
                  font-weight: 700;
                  font-size: 17px;
                  letter-spacing: .28px;
                  line-height: 1em;
                  color: $white-color;
               }
               a:hover{
                  opacity: 0.9;
               }
            }
            li:hover{
               opacity: 0.5;
            }
         }
      }
   }

   .header__main{
      margin-top: 41px;
      text-align: center;
      align-items: center;
      &-text{
         max-width: 700px;
         margin-left: auto;
         margin-right: auto;

         h1{
            font-size: 48px;
            color: $white-color;
         }
      }
      &-button{
         margin-top: 25px;
      }
   }
}