@import "../layout/header.scss";
@import "../layout/footer.scss";

.shop{
    &__products{
        ul{
            margin: 96px 15% 0 15%;
            li{
                @include grid(3,1%);
                margin-top: 34px;
                text-align: center;

                h2{
                    font-size: 20px;
                    margin-top: 34px;
                }

                h6{
                    margin-top: 19px;
                }

                button{
                    margin-top: 34px;
                }
                
            }
        }
    }
}